$mukta:'Mukta', sans-serif;
$navbarFont:'Khand', sans-serif;
$primaryColor:#2260bf;
$hoverColorNavBar:#70c9ff;
$white:#fff;
$mobileBreakpoint:"912px";
$lightBlack:#102C57;
$silverColor:#f4f6f8;